* {
  box-sizing: border-box;
  transition: 0.3s;
}
body,
html {
  background: #ecedef;
  margin: 0;
  padding: 0;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-bottom: 20px;
  width: 320px;
}

.display {
  width: 100%;
  height: 100px;
  padding: 25px 0px;
  background: rgb(255, 140, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.buttons {
  padding: 20px 20px 0 20px;
}

.row {
  width: 100%;
  display: flex;
}

button {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 5px;
  background: #ecedef;
  border: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 40%;
  font-weight: 700;
  color: #5e5858;
  cursor: pointer;
}

button:hover,
button:hover {
  background: rgb(255, 140, 0);
}
button:active,
button:active {
  transition: 0s;
  background: #ecedef;
}

input[type="text"] {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #ffffff;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
}

.red {
  background: rgb(255, 140, 0) !important;
  color: #ffffff !important;
}
::placeholder {
  color: rgba(255, 255, 255, 1);
}

.wingImg {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
  padding: 5px;
}

.result-wing {
  max-height: 60px;
  width: auto;
  height: auto;
  padding: 5px;
}